<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon color="accent">assignment</mat-icon>
  </button>
  <span color="accent">Mi Agenda Electronica</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="accent"  (click)="openDialog()">+ Agregar Cita</button>
</mat-toolbar>

<div class="container">
  <div style="margin-top: 10px;">
    <mat-form-field appearance="standard">
      <mat-label>Buscar mi cita</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar por apellido" #input>
    </mat-form-field>
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort >
    
        <!-- ID Column -->
        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </th>
          <td mat-cell *matCellDef="let row"> {{row.Nombre}} </td>
        </ng-container>
    
        <!-- Progress Column -->
        <ng-container matColumnDef="Apellidos">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
          <td mat-cell *matCellDef="let row"> {{row.Apellidos}}</td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
          <td mat-cell *matCellDef="let row"> {{row.Email}} </td>
        </ng-container>
    
        <!-- Fruit Column -->
        <ng-container matColumnDef="Celular">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nº Celular </th>
          <td mat-cell *matCellDef="let row"> {{row.Celular}} </td>
        </ng-container>

         <!-- Fruit Column -->
         <ng-container matColumnDef="Hora">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora </th>
          <td mat-cell *matCellDef="let row"> {{row.Hora}} </td>
        </ng-container>
    
        <!-- Fruit Column -->
        <ng-container matColumnDef="Servicio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Servicio</th>
          <td mat-cell *matCellDef="let row"> {{row.Servicio}} </td>
        </ng-container>

         <!-- Fruit Column -->
         <ng-container matColumnDef="Fecha">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
          <td mat-cell *matCellDef="let row"> {{row.Fecha | date}} </td>
        </ng-container>

         <!-- Fruit Column -->
         <ng-container matColumnDef="Descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion</th>
          <td mat-cell *matCellDef="let row"> {{row.Descripcion}} </td>
        </ng-container>

        <ng-container matColumnDef="Accion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Accion</th>
          <td mat-cell *matCellDef="let row"> 
            <button mat-icon-button (click)="editCita(row)" color="primary">
              <mat-icon>edit</mat-icon>
            </button>

            <button (click)="deleteClientes(row.id)" mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

       
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
</div>